body {
  background-color: #e9ebee !important;
}

html {
  height: 100%;
  font-family: Lora, "Trebuchet MS", Verdana, sans-serif;
}

h1 {
  text-align: center;
  background-color: #4267b2;
  color: #eae6dc !important;
}

#footer {
  text-align: center;
  background-color: #4267b2;
  color: #eae6dc !important;
}
